instagames-client/node_modules
instagames-client/.next

instagames-backend/node_modules
instagames-backend/.vscode

instagames-admin/node_modules
instagames-admin/.husky
instagames-admin/.next
instagames-admin/.vscode

ec2 
*.pem
.DS_Store